body {
    background-image: url("https://lh3.googleusercontent.com/pw/AP1GczMJTP_ihSsh18MELTUV8ewwCXMkrM7fmlq4GJAbB6ZaWU9Gjj4yhjFGoliIGaDxzD2jBn5gpiWfl9W2Xjvil4oND19UicFrl18NJV5AbvYU_nGFf7y_OnuZFXvAyerrvTALcGHTx3IQ5qbKtNj_gzJ-=w1333-h885-s-no?authuser=0");
    background-size: cover;
    font-family: Arial, sans-serif;
    background-color: #e9faff;
    margin: 20px;
    padding: 0;
    color: #191919;
}
h1 {
    text-align: center;
    color: #000000;
    margin-bottom: 30px;
}
h2 {
    text-align: center;
    color: #1e3799;
    margin-top: 30px;
}
#devices {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
}
.device {
    background-color: #ffffff;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    transition: all 0.3s ease;
    cursor: pointer;
}
.device.selected {
    background-color: rgba(0, 123, 255, 0.2); /* прозоро-синій */
    border-color: #000; /* чорна рамка */
}
.device span {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}
.device select {
    width: 70px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #aaa;
    text-align: center;
}
#calculate {
    display: block;
    text-align: center;
    margin: 30px auto;
    padding: 10px 30px;
    font-size: 16px;
    background-color: #1e3799;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}
#calculate:hover {
    background-color: #0a3d62;
}
#result {
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
}
#recommend {
    display: block;
    text-align: center;
    margin: 30px auto;
    padding: 10px 30px;
    font-size: 16px;
    background-color: #ffb805;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}